body {
	font-family: Arial;
	margin: 0 auto;
	width: 600px;
	background: #101010;
}

/* HEADER */
h1 {	
	text-align: center;
	border-style: dotted;
	border-width: 1px;
	border-color: #06799F;
	color: #37DD6F;	
	font-size: 50px;
	letter-spacing: -3px;
}
h1 a {
	text-decoration: none;
}
h1 a:visited {
	color: #37DD6F;
}
h1 a:hover {
	color: #00BB3F;
}

/* NAV BAR */
nav {
	text-align: center;
	margin-bottom: 25px;
	padding-left: 60px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style: none;
	display: inline;
	letter-spacing: -2px;
	padding-right: 75px;
}
nav a {
	text-decoration: none;
	color: #BEBEBE;
	font-size: 35px;
}
nav a:visited {
	color: #BEBEBE;
}
nav a:hover {
	color: #FF8973 !important;
}

/* GENERIC */
.main {
	border-width: 1px;
	border-top-style: dotted;
	border-color: #06799F;;
	padding-top: 30px;
	color: #BEBEBE;
}

p {
	font-size: 20px;
	text-align: center;
}

/* FORMS (submit rating, search rating) */
form {
	font-size: 20px;
}

#submit_album label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 180px;
}

#search_album label {
	text-align: center;
	padding-right: 20px;
}

input[type=text] {
	border: 1px solid #999;
	background: #BEBEBE;
	font-size: 20px;
	height: 25px;
	margin-bottom: 8px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

select {
	background: gold;
	margin-bottom: 5px;
	height: 25px;
	font-size: 25px;
	letter-spacing: 2px;
}

input[type=submit] {
	height: 30px;
	font-size: 20px;
}

label[for=submit] { 
	visibility: hidden; /* hack */
}

label[for=Search] {
	visibility: hidden; /* hack */
}

/* generic centering */
#search_album {
	text-align: center;
}
#intro {
	text-align: center;
}

/* DISPLAY RATINGS (browse and search) */

.album_list li {
	list-style: none;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
}

#stars {
	font-size: 36px;
	font-color: gold;
}

#submit_album {
	display: none;
}

#search_album {
	display: none;
}

.album_list {
	display: none;
}